
<app-menu-title></app-menu-title>
<div class="container-articles">

    <div class="articles-main">

        <app-big-card
        Id="1"
        icon1="../assets/icons8-html-96.png"
        icon2="../assets/icons8-css-96.png"
        icon3="../assets/icons8-javascript-96.png"
        icon4="../assets/icons8-typescript-96.png"
        icon5="../assets/icons8-angular-96.png"
        cardTitle="ABOUT ME"
        cardDescription="Having recently graduated in Systems Analysis and Development, I am looking forward to embarking on my professional journey in software development. While I may not have hands-on experience, I've honed my skills through courses, personal projects, and participation in coding communities. I have a solid understanding of programming fundamentals, including algorithms, data structures and object-oriented programming principles. Additionally, I am proficient in languages ​​such as HTML, CSS, Javascript, and am excited about learning new technologies and frameworks. With a growth mindset and strong work ethic, I am committed to continually improving my skills and adapting to industry trends. I'm looking for an opportunity to contribute to innovative projects, collaborate with experienced developers, and make a significant impact in the world of software development.">
        </app-big-card>

    </div>

    

    <div class="articles-others">

        <h1>PROJECTS</h1>
        <hr>
        <app-small-card
            Id="2"
            cardTitle="Project Student Register Front/Backend"
            photoCover="../assets/icons8-java-200.png"
            [tagName]="['Java' , 'Springboot' , 'MySql' , 'ReactJs']"
            
        >
        </app-small-card>

        <app-small-card
            Id="3"
            cardTitle="Project Diet App"
            photoCover="../assets/icons8-dart-200.png"
            [tagName]="['Dart', 'Flutter', 'C+']"
        >
        </app-small-card>

        <app-small-card
            Id="4"
            cardTitle="Project Resume"
            photoCover="../assets/icons8-document-200.png"
            [tagName]="['Html', 'Javascript' ,'Typescript', 'Sass', 'React' , 'Vue.js']"

        >
        </app-small-card>        
        
    </div>


    <div class="articles-banners">
        
        <h1>CERTIFICADOS</h1>
        <hr>
        <app-medium-card
            Id="5"
            cardDescription="Desenvolvimento Frontend Angular"
            photoCover="../assets/certificado1.png"
            educationPlatform="DIO & Banco Pan"
        >
        </app-medium-card>

        <app-medium-card
            Id="6"
            cardDescription="Typescript para Angular"
            photoCover="../assets/certificado2.png"
            educationPlatform="DIO"
        >
        </app-medium-card>
    </div>

</div>
