<div class="container-menu-bar">

    <div class="container-menu-bar-tag">
        <ul>

            <li><a href="../assets/resume-raul-carbone.pdf" download="Raul-Carbone-Resume">Resume</a></li>

            <hr>
            
            <li>
                <a href="https://www.linkedin.com/in/raul-carbone-bb1154180/" target="_blank">
                    LinkedIn
                </a>
            </li>

            <hr>

            <li><a href="https://github.com/raul-carbone" target="_blank">Projects</a></li>

            <hr>

            <li><a href="https://www.twitch.tv/ruzyon" target="_blank">Live</a></li>


        </ul>

    </div>

</div>
